/* Style général */
html{
    box-sizing: border-box;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}

head title img{
    height: 16px;
    width: 16px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #e4e4e4;
    box-sizing: border-box;
    height: 100%;
    max-width: 100%;
    width: 100%;
    transition: all 0.25s ease-in-out !important;
    
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
}
.header .left {
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.header .right {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 10px;
    margin-right: 5px;
}
/* Ajustez la marge entre l'image et le titre si nécessaire */
.header .left img {
    margin-right: 10px; /* Par exemple, pour ajouter de l'espace entre l'image et le titre */
}
.header .left h1 {
    margin: 0; /* Pour supprimer la marge autour du titre */
    font-size: 24px;
}

.page{
    position: relative;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    overflow: hidden;
}

@-webkit-keyframes hideside{
    0%{
        width: auto;
        max-width: 50%;
    }
    100%{
        width: 0;
        max-width: 0;
        display: none;
    }
}

.sidebar{
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 214, 214);
    box-sizing: border-box;
    padding-top: 16px;
    padding-left: 5px;
    padding-right: 5px;
    user-select: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    max-height: 100%;
    width: auto;
    max-width: 50%;
}
.sidebar div{
    position: relative;
}
.sidebar p{
    line-height: 1;
    word-wrap: break-word;
}
.showside{
    position: absolute;
    top: 0;
    z-index: 50;
}
.closeside{
    position: absolute;
    top: 0;
    z-index: 50;
}
.showside, .closeside{
    display: block;
    cursor: pointer;
}
.showside:hover, .closeside:hover{
    transition: 0.25s ease all;
    filter: invert(36%) sepia(15%) saturate(7121%) hue-rotate(224deg) brightness(88%) contrast(98%);
}

.groupname{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(66, 66, 66);
}

.group{
}

.filename{
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.filename:hover{
    color: rgb(85, 85, 223);
}
.filename img{
    height: 24px;
    width: 24px;
    vertical-align: middle;
    align-items: center;
}

.solofilename{
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.solofilename:hover{
    color: #5555df;
}

.content{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    background-color: rgb(233, 233, 233);
    text-align: center;
    line-height: 1;
    overflow-y: show;
    overflow-x: hidden;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
.scrollwhite {
    scrollbar-width: 16px;
    scrollbar-color: #1100ff #b6b6b6;
}
/* Chrome, Edge, and Safari */
.scrollwhite::-webkit-scrollbar {
    width: 16px;
}
.scrollwhite::-webkit-scrollbar-track {
    background: #b6b6b6;
}
.scrollwhite::-webkit-scrollbar-thumb {
    background-color: #1100ff;
    border-radius: 10px;
    border: 3px solid #b6b6b6;
}

/* Firefox */
.scrolldark {
    scrollbar-width: auto;
    scrollbar-color: #1100ff #161616;
}
/* Chrome, Edge, and Safari */
.scrolldark::-webkit-scrollbar {
    width: 16px;
}
.scrolldark::-webkit-scrollbar-track {
    background: #161616;
}
.scrolldark::-webkit-scrollbar-thumb {
    background-color: #1100ff;
    border-radius: 16px;
    border: 3px solid #161616;
}

input[type=text]{
    border-radius: 5px;
}
input[type=text]:focus{
    outline: 0px red solid;
}

.separator{
    width: 90%;
    height: 4px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
.copypathbtn{
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 100;
}
.copypathbtn:hover{
    transition: 0.1s ease all;
    filter: invert(36%) sepia(15%) saturate(7121%) hue-rotate(224deg) brightness(88%) contrast(98%);
}