/* Style général */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
}
.header .left {
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.header .right {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 10px;
    margin-right: 5px;
}
/* Ajustez la marge entre l'image et le titre si nécessaire */
.header .left img {
    margin-right: 10px; /* Par exemple, pour ajouter de l'espace entre l'image et le titre */
}
.header .left h1 {
    margin: 0; /* Pour supprimer la marge autour du titre */
    font-size: 24px;
}

.page{
    border: 2px blue solid;
    color: red;
}
