/* Style pour le bouton de bascule (toggle) */
.theme-toggle {
    margin-left: 10px; /* Ajustez la marge selon vos besoins */
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

/* Styles pour le thème sombre */
.dark-theme {
    background-color: #333;
    color: #fff;
}

/* Styles pour le thème clair */
.light-theme {
    background-color: #fff;
    color: #333;
}
